.jumbotron {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.ulNav {
  width: 550px;
  height: 700px; }

.jumbotron h1 {
  color: red; }

.boton {
  background-color: red; }

.logoP {
  height: 130px;
  width: 180px;
  position: relative;
  top: 2px; }

header {
  width: 100%; }

nav {
  background-color: white; }

.nav-item {
  width: 100%; }

nav li {
  padding: 1px; }

.logosNav {
  height: 80px;
  width: 80px; }

.margenNav {
  margin-top: -0px; }

.listasNav {
  display: flex; }

.escuelaLogo {
  position: relative;
  left: 150px;
  height: 140px;
  width: 180px; }

.ulNav {
  position: absolute; }

.logoInstala {
  position: relative;
  left: 170px;
  height: 140px;
  width: 180px; }

.logoCabeceraNav {
  height: 150px;
  width: 170px; }

.titulo {
  color: red; }

.accordion {
  width: 800px; }

:hover .accordion-button {
  color: black; }

.contenedorUno {
  display: flex;
  justify-content: space-between; }

.formulario button {
  background-color: red;
  border: red; }

h4 {
  font-size: 20px;
  color: red; }

.formulario {
  width: 800px;
  padding-bottom: 30px; }

.accordion-body {
  display: flex;
  flex-direction: column; }

p {
  font-size: 14px; }

.textoIntro {
  padding-left: 100px;
  padding-right: 100px; }

.fotoSpon {
  width: 400px;
  height: 150px;
  padding-bottom: 3px; }

footer {
  background-color: red; }

.iconos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: ". telefono ." ". redes ."; }

.logofooter {
  display: flex;
  flex-direction: row;
  align-items: center; }

.textofooter p {
  font-size: 16px;
  padding-bottom: 0px;
  color: black; }

.textofooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.textofooter p :hover {
  font-weight: bold; }

.iconosRedes {
  display: flex;
  grid-area: redes;
  justify-content: space-around; }

.iconosRedes a {
  color: black; }

.telefono {
  grid-area: telefono; }

.textofooter a {
  text-decoration-line: none; }

.iconosRedes :hover {
  color: yellow; }

.derechos {
  background-color: #bf0000;
  width: 100%;
  height: 60px; }

.derechos p {
  color: black; }

.jumbotron {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.ulNav {
  width: 550px;
  height: 700px; }

.datosUbicacion h2 {
  color: red;
  font-size: 26px; }

.message {
  height: 110px; }

.mapaUbi {
  position: relative;
  left: 0px;
  width: 400px; }

.section {
  padding-bottom: 80px;
  padding-right: 0px; }

.rojo {
  background-color: red; }

.formularioCon {
  width: 90%; }

@media only screen and (max-width: 990px) {
  .formularioCon {
    padding-bottom: 130px; } }

.tituloAutoridades {
  color: Red; }

.sectionAuto {
  background-color: #f6f6f6; }

.titulin {
  color: red; }

p {
  font-size: 14px; }

.carousel img {
  height: 390px;
  width: 700px; }

body {
  font-family: Georgia, 'Times New Roman', Times, serif; }
