.titulo{
    color: $color-principal;
}
.accordion{
  width: 800px;
}
 :hover .accordion-button{
  color: black;
}
.contenedorUno{
  display: flex;
  justify-content: space-between;
}

.formulario button{
  background-color: $color-principal;
  border: $color-principal;
}
h4{
  font-size: map-get($tamanio-tipografia, subtitulos);
  color: $color-principal;
}
.formulario{
  width: 800px;
  padding-bottom: 30px;
}
.accordion-body{
  display: flex;
  flex-direction: column;
}
p{
  font-size: map-get($tamanio-tipografia, parrafo );
}
.textoIntro{
  padding-left: 100px;
  padding-right: 100px;
}
.fotoSpon{
  width: 400px;
  height: 150px;
  padding-bottom: 3px;
}

