.logoP{
    height: 130px;
    width: 250px;
    position: relative;
    top: 2px;
}
header{
    width: 100%;
}
nav{
    background-color: white;
}
.nav-item{
    width: 100%;
}
nav li{
    padding: 1px;
}
.logosNav{
    height: 80px;
    width: 80px;
}
.margenNav{
    margin-top: -0px;
}
.listasNav{
    display: flex;
}
.escuelaLogo{
    position: relative;
    left: 150px;
    height: 140px;
    width: 180px;
}
.ulNav{
    @extend %tamañoListas;
    position:absolute;
}
.logoInstala{
    position: relative;
    left: 170px;
    height: 140px;
    width: 180px;
}
.logoCabeceraNav{
    height: 150px;
    width: 170px;
}
@media only screen and (max-width:990px) {
    .logoCabeceraNav{
        height: 115px;
        width: 135px;
    }
    .logoInstala{
        position: relative;
        left: 50%;
        margin: auto;
        height: 120px;
        width: 140px;
    }
    .escuelaLogo{
        position: relative;
        left: 50%;
        margin: auto;
        height: 120px;
        width: 140px;
    }
    .logosNav{
        height: 60px;
        width: 60px;
    }
}



